button {
  background: limegreen;
  color: white;
  border-radius: 5px;
  border: none;
  height: 100%;
  padding: 10px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

}

.disabled {
  opacity: 0.3;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: default;
  transition: 0.5s;
}

.active-button {
  background: limegreen;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.active-button:hover {
  background: rgba(0, 143, 13, 0.9);
}

.active-button:active {
  background: rgba(0, 97, 10, 0.9);
}


.continue-button {
  height: 50px;
  width: 100%;
}


.register-button {
  cursor: pointer;
  background: #2b2b2b;
  color: white;
  transition: 0.5s;

}

.register-button:hover {
  background: rgba(0, 143, 13, 0.9);
  color: white;
}

.register-button:active {
  background: rgba(0, 97, 10, 0.9);
}








