button {
  background: limegreen;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.disabled {
  opacity: 0.3;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  cursor: default;
  transition: 0.5s;
}

.active-button {
  background: limegreen;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.active-button:hover {
  background: rgba(0, 143, 13, 0.9);
}

.active-button:active {
  background: rgba(0, 97, 10, 0.9);
}

.sign-block {
  width: 100%;
  height: 50px;
  padding: 5px;
}

.sign-button {
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.sign-button:hover {
  background: #a6a6a6;
  color: black;
}

.sign-button:active {
  background: #4c4c4c;
}

.register-button {
  height: 50px;
  width: 100%;
}


