@import "variables";

.modal-content {
  padding: 20px;

  display: flex;
  flex-direction: column;


  &_title{
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    color: #2c2b2b;
    margin-bottom: 35px;
  }
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

}

.confirm-btn, .cancel-btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
  transition: 0.4s;
}

.confirm-btn {
  background: $interfaceColor;;
  color: white;

  &:hover{
    background: rgb(0, 143, 13);
  }
}

.cancel-btn {
  background-color: red;
  color: white;

  &:hover{
    background: #6c1d1d;
  }
}
