@import "variables";

.modal-content {
  padding: 20px;
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.confirm-btn, .cancel-btn {
  padding: 10px 20px;
  cursor: pointer;
  width: 100px;
}

.confirm-btn {
  background: $interfaceColor;;
  color: white;
}

.cancel-btn {
  background-color: red;
  color: white;
}
