@import url("input.scss");
@import url("button.scss");
@import url("radioButton.scss");
@import url("pinInput.scss");
@import url("header.scss");
@import url("loginModal.scss");
@import url("registerPage.scss");
@import "variables";

//@import url("slide.scss");
//@import url("product.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //border: 1px solid black;
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}


@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
}


@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsExtra;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}


@font-face {
  font-family: InterRegular;
  src: url(../fonts/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(../fonts/Inter_18pt-Medium.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter_18pt-Bold.ttf);
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.wrapper {
  .section {
    padding: 0 100px;
    width: 100%;
  }

  .container {
    width: 100%;
    display: flex;
    position: relative;
  }

  form {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article-home {
    width: 100%;

    .title {
      font-size: 34px;
    }

    .article-block {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  .form-button-block {
    width: 100%;
    height: 50px;
  }
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
}


.email-text {
  display: flex;
  margin-top: 30px;

  flex-direction: column;
  text-align: center;

  span:nth-child(1) {
    font-size: 20px;
    font-family: "PoppinsMedium", sans-serif;
  }

  span:nth-child(2) {
    color: #4c4c4c;
    margin-top: 20px;
    font-size: 15px;
    font-family: "PoppinsMedium", sans-serif;
  }
}

.pin-block {
  margin-top: 20px;
}

.email-icon-block {
  display: flex;
  justify-content: center;

  .email-line-block {
    width: 50px;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .email-line {
    width: 50px;
    height: 3px;
    background: $interfaceColor;
  }

  .email-line:nth-child(2) {
    width: 30px;
    height: 3px;
    background: $interfaceColor;
  }

  .email-line:nth-child(3) {
    width: 40px;
    height: 3px;
    background: $interfaceColor;
  }
  .email{
    width: 40px;
    height: 40px;
    rotate: -50deg;
    color:$interfaceColor;
  }
}


.check-circle{
  width: 150px;
  height: 150px;
  border:5px solid limegreen;

  border-radius: 100px;
  opacity: 0;
  transition: 0.4s;

  .check-mark{
    width: 0;
    height: 100px;
    margin: -3px 10px 3px;
    transition: 1s;
    border: solid limegreen;
    display: inline-block;
    border-width: 0 10px 10px 0;
  }
}
.check-circle:hover{
  opacity: 1;
}
.check-circle:hover .check-mark{
  width: 85px;
  transform: rotate( 45deg);
}


