@import url("input.scss");
@import url("button.scss");
@import url("radioButton.scss");
@import url("pinInput.scss");
@import url("header.scss");
@import url("loginModal.scss");
@import url("registerPage.scss");

//@import url("slide.scss");
//@import url("product.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  //border: 1px solid black;
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}


@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
}


@font-face {
  font-family: PoppinsBold;
  src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: PoppinsExtra;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}


@font-face {
  font-family: InterRegular;
  src: url(../fonts/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(../fonts/Inter_18pt-Medium.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter_18pt-Bold.ttf);
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.wrapper {
  .section {
    padding: 0 100px;
    width: 100%;
  }

  .container {
    width: 100%;
    display: flex;
    position: relative;
  }

  form {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article-home {
    width: 100%;

    .title {
      font-size: 34px;
    }

    .article-block {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
    }
  }
}

.container-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  .form-button-block {
    width: 100%;
    height: 50px;
  }
}



